{% extends 'base.html.twig' %}

{# {% block title %}Bienvenue !{% endblock %} #}

{% block importmap %}{{ importmap(['app', 'home']) }}{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/glightbox/3.3.0/css/glightbox.min.css" integrity="sha512-T+KoG3fbDoSnlgEXFQqwcTC9AdkFIxhBlmoaFqYaIjq2ShhNwNao9AKaLUPMfwiBPL0ScxAtc+UYbHAgvd+sjQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
{% endblock %}

{% block body %}

    <div class="presentation">
        <img src="{{ asset('uploads/img/home/' ~ homePage.image) }}" alt="{{ homePage.imageAlt}}">
        <h1>{{ settings.siteName }}</h1>
        <p>{{ homePage.content|replace({'<div>': '', '</div>': '', '<p>': '', '</p>': '',})|raw }}</p>
    </div>

    <section class="home">
        <h2 class="main-title">{{ homePage.lastArticlesTitle }}</h2>

        {# Flash message #}
        {% for flash in app.flashes('success') %}
            <div id="success" class="message-success">
                {{ flash }}
            </div>
        {% endfor %}

        <div class="cards">
            {% for article in articles %}
                <div class="card">
                    <div class="card-image">
                        <img src="{{ asset('uploads/img/articles/' ~ article.mainImage) }}" alt="{{ article.title }}" class="img">
                        <p class="categories">
                            {% for category in article.categories %}
                                <a href="{{ path('app_category_show', {'slug': category.slug}) }}" title="Catégorie {{ category.title }}">{{ category.title }}</a>
                            {% endfor %}
                        </p>
                        {% if article.fichiers is not empty %}
                            <p class="joinfile">
                                <a href="{{ path('app_article_show', {'slug': article.slug}) }}#fichiers" title="Fichiers PDF">
                                    <i class="fa-regular fa-file-pdf"></i>
                                    {{ article.fichiers|length }}
                                </a>
                            </p>
                        {% endif %}
                        {% if article.mediapic is not empty %}
                            <p class="joinpic">
                                <a href="{{ path('app_article_show', {'slug': article.slug}) }}#pics" title="Photos & images">
                                    <i class="fa-regular fa-images"></i>
                                    {{ article.mediapic|length }}
                                </a>
                            </p>
                        {% endif %}
                    </div>

                    <div class="meta">
                        <div>
                            <span class="date">Posté le {{ article.postedAt|date('d/m/Y') }}</span>,
                            <span class="author">par {{ article.author }}</span>
                        </div>
                        {% if article.comments %}
                            {% if article.comments|length  == 0 %}
                                <span class="comments"><i class="fa-regular fa-comment"></i></span>
                            {% elseif article.comments|length  == 1 %}
                                <span class="comments">{{ article.comments|length }}
                                    <a href="{{ path('app_article_show', {'slug': article.slug}) }}#commentsarticle"><i class="fa-solid fa-comment"></i></a>
                                </span>
                            {% else %}
                                <span class="comments">{{ article.comments|length }}
                                    <a href="{{ path('app_article_show', {'slug': article.slug}) }}#commentsarticle"><i class="fa-solid fa-comments"></i></a>
                                </span>
                            {% endif %}
                        {% endif %}
                    </div>
                    <h3 class="title">
                        <a href="{{ path('app_article_show', {'slug': article.slug}) }}">
                            {{ article.title }}
                        </a>
                    </h3>
                    <div class="intro">{{ article.intro|raw }}</div>
                </div>
            {% endfor %}
        </div>
    </section>

    <section class="container-files">
        <div class="fichiers-pdf">
            <img src="{{ asset('uploads/img/bg-hp.png') }}" alt="Fichiers pdf des articles" class="image-bg">
            <h2>{{ homePage.lastFilesTitle }}</h2>
            <div class="fichiers">
                {% for article in lastArticles %}
                    {% for file in article.fichiers|slice(0, 5) %}
                        <div class="links">
                            <a target="_blank" href="{{ asset('uploads/files/articles/' ~ file.fichierFile) }}" title="Article : {{ article.title }}">
                                <i class="fa-solid fa-file-pdf fa-3x"></i>
                                <br>
                                {{ file.title }}
                            </a>
                        </div>
                    {% endfor %}
                {% endfor %}
            </div>
        </div>
    </section>

    <section class="home">
        <div class="pics">
            <h2>{{ homePage.lastPicsTitle }}</h2>
            <div class="images">
                {% for article in lastArticles %}
                    {% for pic in article.mediapic|slice(0, 5) %}
                        <div class="links">
                            <a href="{{ asset('uploads/img/articles/pics/' ~ pic.image) }}" class="glightbox">
                                <img src="{{ asset('uploads/img/articles/pics/' ~ pic.image) }}" alt="{{ pic.imageAlt }}" class="img">
                            </a>
                        </div>
                    {% endfor %}
                {% endfor %}
            </div>
        </div>
    </section>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/glightbox/3.3.0/js/glightbox.min.js" integrity="sha512-RBWI5Qf647bcVhqbEnRoL4KuUT+Liz+oG5jtF+HP05Oa5088M9G0GxG0uoHR9cyq35VbjahcI+Hd1xwY8E1/Kg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
{% endblock %}
