<footer>
    <div class="footer">
        <p class="links">
            <a href="{{ path('app_home') }}">Accueil</a>
            <a href="{{ path('app_article_index') }}">Blog</a>
            <a href="{{ path('app_contact') }}">Contact</a>
            <a href="{{ path('app_apropos') }}">A propos</a>
            <a href="{{ path('app_cgu') }}">C.G.U.</a>
            <a href="{{ path('app_confidentialite') }}">Politique de confidentialité</a>
        </p>
        <p class="infos">
            &copy; {{ 'now'|date('Y') }} - {{ settings.siteName }} - Logo par <a href="https://www.vecteezy.com/" target="_blank">vecteezy.com</a> | Icone cookie par <a href="https://www.flaticon.com">Flaticon</a> | Images par <a href="https://pixabay.com/">Pixabay</a>
        </p>
        <a href="#" id="go-to-top"><i class="fa-solid fa-chevron-up"></i></a>
    </div>
</footer>