<header>
    <nav>
        <ul class="menu mobile">
            <li><a class="logo" href="{{ path('app_home') }}">{{ settings.siteName }}</a></li>
            <li><a href="#">Blog</a></li>
            <li><a href="#">Contact</a></li>
            <li><a href="#">A propos</a></li>
            <li><a href="#">Recherche</a></li>
            {% if app.user %}
                <li><a href="{{ path('admin') }}">Tableau de bord</a></li>
                <li><a href="{{ path('app_logout') }}">Déconnexion</a></li>
            {% else %}
                <li><a href="{{ path('app_login') }}">Connexion</a></li>
                <li><a href="{{ path('app_register') }}">S'enregistrer</a></li>
            {% endif %}
        </ul>
        <div class="burger">
            <span></span>
            <span></span>
            <span></span>
        </div>
    </nav>
</header>