{% extends 'base.html.twig' %}

{# {% block title %}Créer un compte{% endblock %} #}

{% block importmap %}{{ importmap(['app', 'register']) }}{% endblock %}

{% block body %}
    <section class="register">
        {% for flash_error in app.flashes('verify_email_error') %}
            <div class="alert-danger" role="alert">{{ flash_error }}</div>
        {% endfor %}

        <h1>Créer un compte</h1>

        <div class="intro">
            En enregistrant un compte et en confirmant votre adresse e-mail, vous pourrez proposer des articles et proposer des commentaires aux articles.<br>
            Les articles et commentaires devront être modérés par un administrateur avant publication.<br>
            Vous trouverez toutes les consignes de publication dans le tableau de bord une fois connecté(e).
        </div>

        {{ form_errors(registrationForm) }}

        {{ form_start(registrationForm) }}
            {{ form_row(registrationForm.email) }}
            {{ form_row(registrationForm.plainPassword, {
                label: 'Password'
            }) }}
            {{ form_row(registrationForm.agreeTerms) }}

            <button type="submit" class="btn">Créer un compte</button>
        {{ form_end(registrationForm) }}
    </section>
{% endblock %}
