{% extends 'base.html.twig' %}

{# {% block title %}Créer un compte{% endblock %} #}

{% block importmap %}{{ importmap(['app', 'register']) }}{% endblock %}

{% block body %}
    <section class="register">
        {% for flash_error in app.flashes('verify_email_error') %}
            <div class="alert-danger" role="alert">{{ flash_error }}</div>
        {% endfor %}

        <h1>Créer un compte</h1>

        <div class="intro">{{ settings.siteRegisterText|raw }}</div>

        {{ form_errors(registrationForm) }}

        {{ form_start(registrationForm) }}
            {{ form_row(registrationForm.email) }}
            {{ form_row(registrationForm.plainPassword) }}

            <div class="terms">
                <span class="text">
                    J'accepte les <a href="{{ path('app_cgu') }}">Conditions Générales d'Utilisation</a>
                </span>
                {{ form_row(registrationForm.agreeTerms) }}
            </div>

            <button type="submit" class="btn">Créer un compte</button>
        {{ form_end(registrationForm) }}
    </section>
{% endblock %}
