{% extends 'base.html.twig' %}

{% block title %}Catégorie : {{ category.title }}{% endblock %}

{% block importmap %}{{ importmap(['app', 'category']) }}{% endblock %}

{% block body %}
    {# {{ dump() }} #}
    <section class="category">
        <h1>Catégorie d'articles : {{ category.title }}</h1>
        <div class="description">
            <img src="{{ asset('uploads/img/categories/' ~ category.image) }}" alt="{{ category.title }}">
            <p>{{ category.description|replace({'<div>': '', '</div>': '', '<p>': '', '</p>': ''})|raw }}</p>
        </div>
        {% for article in category.articles|reverse %}
            {% if article is empty %}
                <h2 class="title">Aucun article</h2>
            {% else %}
                <h2 class="title">
                    <a href="{{ path('app_article_show', {'slug': article.slug}) }}">{{ article.title }}</a>
                </h2>
            {% endif %}
        {% endfor %}
    </section>
{% endblock %}
