{% extends 'base.html.twig' %}

{% block title %}Catégorie : {{ category.title }}{% endblock %}

{% block importmap %}{{ importmap(['app', 'category']) }}{% endblock %}

{% block body %}
    <section class="category">
        <h1>Catégorie d'articles : {{ category.title }}</h1>
        <div class="description">
            <div class="col1">
                <img src="{{ asset('uploads/img/categories/' ~ category.image) }}" alt="{{ category.title }}">
            </div>
            <div class="col2">
                {{ category.description|replace({'<div>': '', '</div>': '', '<p>': '', '</p>': ''})|raw }}
            </div>
        </div>
        <div class="cards">
            {% for article in category.articles|reverse %}
                {% if article is empty %}
                    <h2 class="title">Aucun article</h2>
                {% else %}
                    <div class="card">
                        <a href="{{ path('app_article_show', {'slug': article.slug}) }}">
                            <img src="{{ asset('uploads/img/articles/' ~ article.mainImage) }}" alt="{{ article.title }}" class="image">
                            <h2>{{ article.title }}</h2>
                        </a>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </section>
{% endblock %}
