{% extends 'base.html.twig' %}

{# {% block title %}Politique de Confidentialité{% endblock %} #}

{% block importmap %}{{ importmap(['app', 'confidentialite']) }}{% endblock %}

{% block body %}

    <div class="presentation">
        <img src="{{ asset('uploads/img/confidentialite/' ~ confidentialitePage.image) }}" alt="{{ confidentialitePage.imageAlt}}">
        <h1>{{ confidentialitePage.mainTitle }}</h1>
    </div>

    <section class="confidentialite">
        <div>
            {{ confidentialitePage.content|raw }}
        </div>
    </section>

{% endblock %}
