{% extends 'base.html.twig' %}

{% block title %}Politique de Confidentialité{% endblock %}

{% block importmap %}{{ importmap(['app', 'confidentialite']) }}{% endblock %}

{% block body %}

    <section class="confidentialite">
        <h1>{{ confidentialite.mainTitle }}</h1>
        <div>
            <img src="{{ asset('uploads/img/confidentialite/' ~ confidentialite.image) }}" alt="{{ confidentialite.imageAlt }}" class="image">
            {{ confidentialite.content|raw }}
        </div>
    </section>

{% endblock %}
