{% extends 'base.html.twig' %}

{% block title %}A propos{% endblock %}

{% block importmap %}{{ importmap(['app', 'apropos']) }}{% endblock %}

{% block body %}

    <div class="presentation">
        <img src="{{ asset('uploads/img/apropos/' ~ apropos.image) }}" alt="{{ apropos.imageAlt}}">
        <h1>{{ apropos.mainTitle }}</h1>
    </div>

    <section class="apropos">
        {# <h1>{{ apropos.mainTitle }}</h1>
        <div>
            <img src="{{ asset('uploads/img/apropos/' ~ apropos.image) }}" alt="{{ apropos.imageAlt }}" class="image">
            {{ apropos.content|raw }}
        </div> #}
        <div>
            {{ apropos.content|raw }}
        </div>
    </section>

{% endblock %}
