{% extends 'base.html.twig' %}

{# {% block title %}A propos{% endblock %} #}

{% block importmap %}{{ importmap(['app', 'apropos']) }}{% endblock %}

{% block body %}

    <div class="presentation">
        <img src="{{ asset('uploads/img/apropos/' ~ apropos.image) }}" alt="{{ apropos.imageAlt}}">
        <h1>{{ apropos.mainTitle }}</h1>
    </div>

    <section class="apropos">
        <img src="{{ asset('uploads/img/' ~ settings.siteLogo) }}" alt="{{ settings.siteName }}" class="logo">
        <h2>{{ settings.siteName }}</h2>
        <div class="content">{{ apropos.content|raw }}</div>
        <img src="{{ asset('uploads/img/apropos/' ~ apropos.image) }}" alt="{{ apropos.imageAlt}}" class="image">
        <h3 class="verset">{{ apropos.verset|raw }}</h3>
    </section>

{% endblock %}
