{% extends '@!EasyAdmin/layout.html.twig' %}

{% block main %}

{# {{ dump(app.user) }} #}

<div class="container-fluid">
    <div class="row">
        <div class="col border rounded text-center pt-2">
            <h1 class="fw-bold">Tableau de Bord</h1>
            <p>
                Depuis le menu de gauche, vous pouvez administrer et gérer toutes les sections du site.
            </p>
        </div>
    </div>

    {% if app.user.isVerified == false %}
    <div class="row mt-4">
        <div class="col">
            <p class="bg-danger text-white p-3 text-center rounded fs-6">Votre adresse e-mail n'est pas confirmée. Vous ne pourrez pas ajouter d'article.<br>
            Vous pouvez redemander un lien de confirmation d'adresse e-mail <b>en vous déconnectant</b> et en cliquant sur le lien de la page Connexion.
            </p>
        </div>
    </div>
    {% endif %}

    <div class="row row-cols-1 row-cols-md-4 g-4 mt-5 justify-content-center border-bottom pb-5">
        <div class="col">
            <div class="card h-100">
                <div class="card-body text-center">
                    <h2 class="card-title h5">NB d'utilisateurs</h2>
                    <h3 class="card-text">{{ users|length }}</h3>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card h-100">
                <div class="card-body text-center">
                    <h2 class="card-title h5">Articles</h2>
                    <h3 class="card-text">{{ articles|length }}</h3>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card h-100">
                <div class="card-body text-center">
                    <h2 class="card-title h5">Catégories</h2>
                    <h3 class="card-text">{{ categories|length }}</h3>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card h-100">
                <div class="card-body text-center">
                    <h2 class="card-title h5">Commentaires</h2>
                    <h3 class="card-text">{{ comments|length }}</h3>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card h-100">
                <div class="card-body text-center">
                    <h2 class="card-title h5">Fichiers</h2>
                    <h3 class="card-text">{{ fichiers|length }}</h3>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card h-100">
                <div class="card-body text-center">
                    <h2 class="card-title h5">Images</h2>
                    <h3 class="card-text">{{ medias|length }}</h3>
                </div>
            </div>
        </div>

    </div>

    <div class="row mt-4">
        <div class="col">
            <h2 class="text-info mb-4">Documentation du site</h2>
            {{ settings.siteDocumentation|raw }}
        </div>
    </div>

{% endblock %}