{% extends 'base.html.twig' %}

{% block title %}Contact{% endblock %}

{% block importmap %}{{ importmap(['app', 'contact']) }}{% endblock %}

{% block body %}

    <section class="contact">
        <h1>{{ contact.mainTitle }}</h1>
        <div>
            <img src="{{ asset('uploads/img/contact/' ~ contact.image) }}" alt="{{ contact.imageAlt }}" class="image">
            {{ contact.content|raw }}
        </div>
    </section>

{% endblock %}
