{% extends 'base.html.twig' %}

{# {% block title %}C.G.U.{% endblock %} #}

{% block importmap %}{{ importmap(['app', 'cgu']) }}{% endblock %}

{% block body %}

    <div class="presentation">
        <img src="{{ asset('uploads/img/cgu/' ~ cguPage.image) }}" alt="{{ cguPage.imageAlt}}">
        <h1>{{ cguPage.mainTitle }}</h1>
    </div>

    <section class="cgu">
        <div>
            {{ cguPage.content|raw }}
        </div>
    </section>

{% endblock %}
