{% extends 'base.html.twig' %}

{# {% block title %}Recherche{% endblock %} #}

{% block importmap %}{{ importmap(['app', 'recherche']) }}{% endblock %}

{% block body %}

    <div class="presentation">
        <img src="{{ asset('uploads/img/recherche/' ~ recherche.image) }}" alt="{{ recherche.imageAlt}}">
        <h1>{{ recherche.mainTitle }}</h1>
    </div>

    <section class="recherche">
        {# <h1>{{ recherche.mainTitle }}</h1>
        <div>
            <img src="{{ asset('uploads/img/recherche/' ~ recherche.image) }}" alt="{{ recherche.imageAlt }}" class="image">
            {{ recherche.content|raw }}
        </div> #}
        <div>
            {{ recherche.content|raw }}
        </div>
    </section>

{% endblock %}
