{% extends 'base.html.twig' %}

{# {% block title %}Tous les articles{% endblock %} #}

{% block importmap %}{{ importmap(['app', 'articles']) }}{% endblock %}

{% block body %}
    <section class="articles">
        <h1>{{ articlePage.mainTitle }}</h1>

        <div class="tri">
            {# Par catégories #}
            <select>
                <option value="">Trier les articles par catégories</option>
                {% for category in categories %}
                    <option value="{{ path('app_category_show', {'slug': category.slug}) }}">{{ category.title }}</option>
                {% endfor %}
            </select>

            {# Par date #}
            <select>
                <option value="">Trier les articles par date</option>
                <option value="{{ path('app_article_index_desc') }}">Plus récent</option>
                <option value="{{ path('app_article_index_asc') }}">Plus ancien</option>
            </select>

            {# Par auteur #}
            <select>
                <option value="">Trier les articles par auteur</option>
                {# Trouver tous les auteurs #}
                {% for author in users %}
                    <option value="{{ path('app_user_show', {'slug': author.slug,}) }}">{{ author.firstName }} {{ author.lastName }}</option>
                {% endfor %}
            </select>
        </div>

        <div class="cards">
            {% for article in articles %}
                <div class="card">
                    <a href="{{ path('app_article_show', {'slug': article.slug}) }}">
                        <img src="{{ asset('uploads/img/articles/' ~ article.mainImage) }}" class="img" alt="{{ article.mainImageAlt }}">
                    </a>
                    <div class="card-body">
                        <div class="categories">
                            {% for category in article.categories %}
                                <a class="cat" href="{{ path('app_category_show', {'slug': category.slug}) }}">{{ category.title }}</a>
                            {% endfor %}
                        </div>
                        <h2 class="title">
                            <a href="{{ path('app_article_show', {'slug': article.slug}) }}">
                                {{ article.title }}
                            </a>
                        </h2>
                        <div class="meta">
                            Publié le {{ article.postedAt|date('d/m/Y') }}, par {{ article.author }}, {% if article.updatedAt is not empty %} mis à jour le {{ article.updatedAt|date('d/m/Y') }}{% endif %}
                        </div>
                        <div class="text">{{ article.intro|raw }}</div>
                    </div>
                </div>
            {% endfor %}
        </div>

        <div class="navigation">
            {{ knp_pagination_render(articles) }}
        </div>
    </section>
{% endblock %}
