{% extends 'base.html.twig' %}

{# {% block title %}Article : {{ article.title }}{% endblock %} #}

{% block javascripts %}
    {% block importmap %}{{ importmap(['app', 'article']) }}{% endblock %}
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/glightbox/3.3.0/css/glightbox.min.css" integrity="sha512-T+KoG3fbDoSnlgEXFQqwcTC9AdkFIxhBlmoaFqYaIjq2ShhNwNao9AKaLUPMfwiBPL0ScxAtc+UYbHAgvd+sjQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
{% endblock %}

{% block body %}
    {# {{ dump() }} #}

    <section class="article">
        <h1>{{ article.title }}</h1>

        <div class="categories">
            {% for cat in article.categories %}
                <a class="cat" href="{{ path('app_category_show', {'slug': cat.slug}) }}">{{ cat.title }}</a>
            {% endfor %}
        </div>

        <div class="meta">
            <div>
                Posté le : {{ article.postedAt|date('d-m-Y') }}
                {% if article.updatedAt %}
                    | Mis à jour le : {{ article.updatedAt|date('d-m-Y') }}
                {% endif %}
                | Vues : {{ article.views }}
            </div>
            <div>
                {% set nbc = article.comments|length %}
                {% if nbc == 1 %}
                    <a href="#comments">
                        {{ nbc }} <i class="fa-solid fa-comment"></i>
                    </a>
                {% elseif nbc > 1 %}
                    <a href="#comments">
                        {{ nbc }} <i class="fa-solid fa-comments"></i>
                    </a>
                {% elseif nbc == 0 %}
                    <a href="#comments"></a>
                        <i class="fa-solid fa-comment-slash"></i>
                    </a>
                {% endif %}
            </div>
        </div>

        <img src="{{ asset('uploads/img/articles/' ~ article.mainImage) }}" alt="{{ article.mainImageAlt }}" class="img">

        <div class="intro">{{ article.intro|replace({'<div>': '', '</div>': '', '<p>': '', '</p>': '',})|raw }}</div>
        <div class="content">{{ article.content|replace({'<div>': '', '</div>': '',})|raw }}</div>


        {# Article précédent et suivant #}
        <div class="prevnext">
            {% if previousArticle %}
                <a href="{{ path('app_article_show', {'slug': previousArticle.slug}) }}" class="prev">
                    <i class="fa-solid fa-angle-left"></i>
                    Article précédent<br>
                    <div class="col-article">
                        <img src="{{ asset('uploads/img/articles/' ~ previousArticle.mainImage) }}" alt="{{ previousArticle.mainImageAlt }}">
                        {{ previousArticle.title }}
                    </div>
                </a>
            {% endif %}
            {% if nextArticle %}
                <a href="{{ path('app_article_show', {'slug': nextArticle.slug}) }}" class="next">
                    Article suivant
                    <i class="fa-solid fa-angle-right"></i><br>
                    <div class="col-article">
                        {{ nextArticle.title }}
                        <img src="{{ asset('uploads/img/articles/' ~ nextArticle.mainImage) }}" alt="{{ nextArticle.mainImageAlt }}">
                    </div>
                </a>
            {% endif %}
        </div>

        <div class="author-bio">
            {% if article.author.image %}
                <div class="col1">
                    <img src="{{ asset('uploads/img/users/' ~ article.author.image) }}" alt="{{ article.author.firstName }} {{ article.author.lastName }}" class="author-image">
                </div>
            {% else %}
                <div class="col1">
                    <img src="{{ asset('uploads/img/users/no-image.png') }}" alt="{{ article.author.firstName }} {{ article.author.lastName }}" class="author-image">
                </div>
            {% endif %}
            <div class="col2">
                <div class="bio-name">{{ article.author }}</div>
                <div class="bio-text">{{ article.author.authorBio|raw }}</div>
            </div>
        </div>

        {% if article.mediapic is not empty %}
            <h2 id="pics" class="galerie-title">{{ articlePage.galerieTitle }}</h2>
            <div class="mediapics">
                {% for pic in article.mediapic %}
                    <a href="{{ asset('uploads/img/articles/pics/' ~ pic.image) }}" target="_blank" class="glightbox">
                        <img src="{{ asset('uploads/img/articles/pics/' ~ pic.image) }}" alt="{{ pic.imageAlt }}">
                    </a>
                {% endfor %}
            </div>
        {% endif %}

        {% if article.fichiers is not empty %}
            <h2 id="fichiers" class="fichiers-title">{{ articlePage.documentsTitle }}</h2>
            <div class="fichiers">
                {% for file in article.fichiers %}
                    <a target="_blank" href="{{ asset('uploads/files/articles/' ~ file.fichierFile) }}">
                    <i class="fa-solid fa-file-pdf fa-4x"></i><br>{{ file.title }}</a>
                {% endfor %}
            </div>
        {% endif %}

        {# Flash message #}
        {% for flash in app.flashes('success') %}
            <div id="success" class="message-success">
                {{ flash }}
            </div>
        {% endfor %}

        {# Commentaires de l'article #}
        <div id="comments" class="comments">
            {# On affiche le formulaire de nouveau commentaire SI le user est connecté #}
            {% if app.user %}
                <h2 class="title">{{ articlePage.commentsNewTitle }}</h2>
                {{ form_start(form, {'attr': {'class': 'new'}}) }}
                    {{ form_row(form.content) }}
                    <div style="text-align: right;">
                        {{ form_row(form.submit) }}
                    </div>
                {{ form_end(form) }}
            {% else %}
                <p class="showcomment">
                    <i class="fa-solid fa-circle-exclamation"></i> Veuillez vous connecter pour ajouter un commentaire.
                    <a href="{{ path('app_login') }}">Se connecter</a>
                    </p>
            {% endif %}

            {# On affiche les commentaires de l'article #}
            <h2 id="commentsarticle" class="title">{{ articlePage.commentsArticleTitle }}</h2>

            {% if article.comments|length >= 1 %}
                {% for comment in article.comments %}
                    {% if comment.approved == true %}
                        <div class="comment">
                            <img src="{{ asset('uploads/img/users/' ~ comment.author.image) }}" alt="{{ comment.author.firstName }} {{ comment.author.lastName }}" class="author-image">
                            <h3 id="comment{{ comment.id }}">
                                #{{ loop.index }} Par {{ comment.author }}, le {{ comment.createdAt|date('d/m/Y H:i') }}
                            </h3>
                            <div>{{ comment.content|raw }}</div>

                            {% if app.user and app.user == comment.author %}
                                <div class="actions">
                                    <a href="{{ path('app_comment_edit', {'id': comment.id}) }}" class="edit" title="Modifier votre commentaire"><i class="fa-solid fa-pen-to-square"></i></a>
                                    <form method="post" action="{{ path('app_comment_delete', {'id': comment.id}) }}" onsubmit="return confirm('Etes-vous certain(e) de vouloir supprimer ce commentaire ?');">
                                        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ comment.id) }}">
                                        <button title="Supprimer votre commentaire" class="btn"><i class="fa-solid fa-trash-can"></i></button>
                                    </form>
                                </div>
                            {% endif %}
                        </div>
                    {% endif %}
                {% endfor %}
            {% else %}
                <p class="nocomment">Aucun commentaire</p>
            {% endif %}
        </div>

    </section>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/glightbox/3.3.0/js/glightbox.min.js" integrity="sha512-RBWI5Qf647bcVhqbEnRoL4KuUT+Liz+oG5jtF+HP05Oa5088M9G0GxG0uoHR9cyq35VbjahcI+Hd1xwY8E1/Kg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
{% endblock %}
