{% extends 'base.html.twig' %}

{# {% block title %}User{% endblock %} #}

{% block importmap %}{{ importmap(['app', 'user']) }}{% endblock %}

{% block body %}
 <section class="user">
        <h1>Auteur : {{ user.firstname}} {{ user.lastname }}</h1>
        <div class="description">
            <div class="col1">
                <img src="{{ asset('uploads/img/users/' ~ user.image) }}" alt="{{ user.firstname }} {{ user.lastname }}">
            </div>
            <div class="col2">
                {{ user.authorBio|replace({'<div>': '', '</div>': '', '<p>': '', '</p>': ''})|raw }}
            </div>
        </div>
        <div class="cards">
            {% for article in user.articles|reverse %}
                {% if article is empty %}
                    <h2 class="title">Aucun article</h2>
                {% else %}
                    <div class="card">
                        <a href="{{ path('app_article_show', {'slug': article.slug}) }}">
                            <img src="{{ asset('uploads/img/articles/' ~ article.mainImage) }}" alt="{{ article.title }}" class="image">
                            <h2>{{ article.title }}</h2>
                        </a>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </section>
{% endblock %}
